#player-0-panel,
#player-1-panel {
  width: 50%;
  float: left;
  height: 600px;
  padding: 100px;
}
.player-name {
  font-size: 40px;
  text-shadow: -1px 0 rgb(27, 105, 252), 0 1px rgb(27, 105, 252),
    1px 0 rgb(27, 105, 252), 0 -1px rgb(27, 105, 252);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.player-score {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  color: rgb(27, 105, 252);
  margin-bottom: 130px;
}

.active {
  background-color: #f7f7f7;
}

.active .player-name {
  font-weight: 300;
}

.active .player-name::after {
  content: "\2022";
  font-size: 47px;
  position: absolute;
  color: rgb(27, 105, 252);
  top: -7px;
  right: 10px;
}

.player-current-box {
  background-color: rgb(27, 105, 252);
  color: #fff;
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.player-current-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  color: rgb(27, 105, 252);
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.player-current-score {
  font-size: 30px;
}
