:root {
  --diceColor: rgb(27, 105, 252);
}
#cube .front {
  transform: translateZ(100px);
}

#cube .back {
  transform: rotateX(-180deg) translateZ(100px);
}

#cube .right {
  transform: rotateY(90deg) translateZ(100px);
}

#cube .left {
  transform: rotateY(-90deg) translateZ(100px);
}

#cube .top {
  transform: rotateX(90deg) translateZ(100px);
}

#cube .bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.container {
  width: 250px;
  height: 213px;
  margin: 20px auto;
  position: relative;
  border: 1px solid #fff;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

#cube {
  width: 112px;
  height: 112px;
  top: 50px;
  margin: auto;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 2s;
}
#cube:hover {
  cursor: pointer;
}
#cube div {
  background: white;
  display: block;
  position: absolute;
  border: 2px solid var(--diceColor);
  width: 112px;
  height: 112px;
  float: left;
  overflow: hidden;
  opacity: 0.85;
  border-radius: 10px;
  padding: 50px;
}

.dot {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--diceColor);
  border-radius: 50%;
}

.front .dot1 {
  top: 85px;
  left: 85px;
}
.back .dot1 {
  top: 45px;
  left: 45px;
}
.back .dot2 {
  top: 125px;
  left: 125px;
}
.right .dot1 {
  top: 45px;
  left: 45px;
}
.right .dot2 {
  top: 85px;
  left: 85px;
}
.right .dot3 {
  top: 125px;
  left: 125px;
}
.left .dot1 {
  top: 45px;
  left: 45px;
}
.left .dot2 {
  top: 45px;
  left: 125px;
}
.left .dot3 {
  top: 125px;
  left: 45px;
}
.left .dot4 {
  top: 125px;
  left: 125px;
}
.top .dot1 {
  top: 45px;
  left: 45px;
}
.top .dot2 {
  top: 45px;
  left: 125px;
}
.top .dot3 {
  top: 85px;
  left: 85px;
}
.top .dot4 {
  top: 125px;
  left: 45px;
}
.top .dot5 {
  top: 125px;
  left: 125px;
}
.bottom .dot1 {
  top: 45px;
  left: 45px;
}
.bottom .dot2 {
  top: 45px;
  left: 85px;
}
.bottom .dot3 {
  top: 45px;
  left: 125px;
}
.bottom .dot4 {
  top: 125px;
  left: 45px;
}
.bottom .dot5 {
  top: 125px;
  left: 85px;
}
.bottom .dot6 {
  top: 125px;
  left: 125px;
}
